@import "./resets";
@import "./variables"; 




html{
    scroll-behavior: smooth;
}

body{
    & > img{
        z-index: -1;
        position: fixed;
        width: 65%;
        object-fit: cover;
        right: -3rem;
        top: -2rem;
    }
}

.overlay{
    background-color: rgba(13, 13, 13, 0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    display: none;

    & h1{
        color: black;
    }

    &.active{
        display: flex;
    }
}

header{
    margin-top: 2em;
    font-size: 1.3rem;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 2em;


    & small{
        display: block;
        margin: .5em 0;
    }


    & .search-wrapper{  
        position: relative;
        width: 100%;
        height: 70px;
   
        & #search{
            background-color: #F7EBED;
           position: absolute;
           width: 100%;
           height: 100%;
            outline: none;
            border: none;
            padding: 2em 2em 2em 5em;
           -webkit-appearance: none;
           border-radius: 10px;
           font-size: .8rem;
        }


        & .btn{
            display: grid;
            place-content: center;
            background-color: transparent;
            position: absolute;
            height: 100%;
            width: 50px;
            color: #7A9595;
            top: 0;
            left: .5rem;
        }

        & .results-wrapper{
            z-index: 99;
            position: absolute;
            top: 100%;
            width: 100%;
            background-color: white;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            & .card-container{
                position: relative;
                z-index: 99;
                display: none;
                &.show{
                    z-index: -2;
                    display: block;
                    padding: 2em;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 1rem;
                    width: 100%;
                    height: 75px;
                }

                & > p {
                    pointer-events: none;
                }
            }
            //lahat ng direct child nya na may element before it
            & > * + *{
                // border-top: 1px solid #f1eeee;
            }

        }
    }

}


section{
    margin-top: 1em;
    padding: 0 2em 3em 2em;
    min-height: 100vh;
    position: relative;


    & .load-more{
        cursor: pointer;
        text-align: center;
        margin-top: 1.5em;
    }
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    gap: 1em;

   & .grass{
        @include getPokemonColor($list-gradient-grass)
   }

   & .poison{
        @include getPokemonColor($list-gradient-poison)
   }

   & .fire{
        @include getPokemonColor($list-gradient-fire)
   }
   
   & .water{
        @include getPokemonColor($list-gradient-water)
   }

   & .bug{
        @include getPokemonColor($list-gradient-bug)
   }

   & .flying{
        @include getPokemonColor($list-gradient-flying)
   }

   & .fairy{
        @include getPokemonColor($list-gradient-fairy)
   }

   & .ground{
        @include getPokemonColor($list-gradient-ground)
   }
   & .electric{
        @include getPokemonColor($list-gradient-electric)
   }
   & .normal{
        @include getPokemonColor($list-gradient-normal)
   }

   & .rock{
        @include getPokemonColor($list-gradient-rock)
   }

   & .psychic{
        @include getPokemonColor($list-gradient-psychic)
   }

   & .fighting{
        @include getPokemonColor($list-gradient-fighting)
   }

   & .ghost{
        @include getPokemonColor($list-gradient-fighting)
   }

   & .ice{
        @include getPokemonColor($list-gradient-fighting)
   }

   & .dragon{
        @include getPokemonColor($list-gradient-fighting)
   }
   & .dark{
        @include getPokemonColor($list-gradient-dark)
   }
   & .steel{
        @include getPokemonColor($list-gradient-steel)
   }

    &__card{
        z-index: 1;
        pointer-events: all;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
        z-index: 1;
        position: relative;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: all 1s ease-in-out;

        &::before{
            z-index: -1;
            position: absolute;
            content: "";
            width: 60%;
            height: 100%;
            bottom: -4rem;
            right: -1rem;
            background-image: url("/dist/assets/no-outline-pukeballs.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0.6;
        }
    }

    &__left{
        color: white;
         
        & small{
       
            text-align: center;
            width: 6em;
            border-radius: 50px;
            display: block;
            background-color: rgba(246, 246, 242, 0.2);
            margin: .5em 0;
        }
    }

    &__texts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__right{
       
        & img{
            width: 100px;
            animation: float 3s ease-in-out infinite;
        }
    }
}


.load-more{
    & img{
        width: 20%;
    }
}


@keyframes float {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-5px);
	}
	100% {
	
		transform: translatey(0px);
	}
}


#bg__grass{
    @include getPokemonColor($list-gradient-grass)
}

#bg__poison{
    @include getPokemonColor($list-gradient-poison)
}

#bg__fire{
    @include getPokemonColor($list-gradient-fire)
}

#bg__water{
    @include getPokemonColor($list-gradient-water)
}

#bg__bug{
    @include getPokemonColor($list-gradient-bug)
}

#bg__flying{
    @include getPokemonColor($list-gradient-flying)
}

#bg__fairy{
    @include getPokemonColor($list-gradient-fairy)
}

#bg__ground{
    @include getPokemonColor($list-gradient-ground)
}
#bg__electric{
    @include getPokemonColor($list-gradient-electric)
}
#bg__normal{
    @include getPokemonColor($list-gradient-normal)
}

#bg__rock{
    @include getPokemonColor($list-gradient-rock)
}

#bg__psychic{
    @include getPokemonColor($list-gradient-psychic)
}

#bg__fighting{
    @include getPokemonColor($list-gradient-fighting)
}

#bg__ghost{
    @include getPokemonColor($list-gradient-fighting)
}

#bg__ice{
    @include getPokemonColor($list-gradient-fighting)
}

#bg__dragon{
    @include getPokemonColor($list-gradient-fighting)
}
#bg__dark{
    @include getPokemonColor($list-gradient-dark)
}
#bg__steel{
    @include getPokemonColor($list-gradient-steel)
}


.overlay2{
    @include getPokemonColor($list-gradient-grass);
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 99;
    // display: none;
    transform: translateX(100%);

    &__pikachu{
        width: 40%;
        // max-width: 140px;
        max-height: 200px;
        z-index: 1;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }


    &__header{
        color: white;
        padding: 1em;
        & .back{
            transform: rotate(180deg);
            font-size: 3rem;
            display: inline-block;
        }
    }

    &__pokemon-name{
       font-size: 2rem;
       font-weight: getWeight(bold);
    }

    &__header-bottom{

        height: fit-content;
        margin-top: 1em;
    }


    &__types{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;

        & span{
            white-space: nowrap;
            width: 6em;
            display: inline-block;
            background-color: rgba(246, 246, 242, 0.5);
            border-radius: 50px;
            text-align: center;
            font-size: .9rem;
            padding: .5em
        }

        & .right{
            font-weight: getWeight(bold);
        }
    }


    &__stats{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .contents{
            position: absolute;
            bottom: 0;
            height: 90%;
            width: 100%;
        }
    }
}

.contents-wrapper{
    height: 100%;
}

.contents{
    font-size: .9rem;
    padding: 1.5em;

    & .col-1{
        color: rgba(0,0,0,0.5) !important
    }

    &__header{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
   
        color: rgba(0,0,0,0.5);
        text-align: right;

        & li{   
            cursor: pointer;
            position: relative;

            &::before{
                transform: scaleX(0);
                position: absolute;
                content: "";
                height: 2px;
                background-color: black;
                width: 100%;
                bottom: 0;
                transition: transform 0.2s ease-in-out;
                transform-origin: right;
            }

            &:hover::before{
                transform: scaleX(100%);
                transform-origin: left;
            }

        }
    }

    &__base-stats{
        width: 100%;
        height: 100%;
    }

    &__grid-container{
        padding: 2em 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr 7fr;
        justify-items: flex-start;
        align-items: center;
        
        & .base-stats-string{
            color: getFontColor(greyColor);
        }
    }


    &__progress-bar{
        position: relative;
        width: 90%;
        height: 10px;
        border-radius: 50px;
        background-color:#F7EBED ;

        & > *{
            border-radius: 50px;
            position: absolute;
            content: "";
            width: 0%;
            max-width: 100%;
            height: 100%;
            background-color: salmon;
        }
    }
}


.about-container{
    width: 100%;
    height: 100%;

    &__mid{
        padding: 1.2rem 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5px;
    }


    &__bottom{
      
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        
        gap: 1px;
        & .egg-grass{
            grid-row: 5;
            grid-column: 2/3;
        }
        & .egg-cycle{
            grid-row: 5;
        }
    }
    &__breeding{
        margin-bottom: 1.2rem
    }

}

.evolution-chain__wrapper{
    width: 100%;
    height: 100%;
}

.evolution-chain{
    width: 100%;
    height: 100%;
   
    &__no-evolution-container{
        height: 100%;
        width: 100%; 
        display: flex;    
        justify-content: center;
        align-items: center;
        color: getFontColor(greyColor)

    }


    &__grid-container{
        row-gap: 1.2em;
        margin-top: 3em;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    &__level-up{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &  > span{
            display: block;
            transform: rotate(180deg);
            width: fit-content;
            font-size: 2.5rem;
            color: #e5e7e0;
        }
        & > p{
            text-align: center;
            font-weight: getWeight(bold);
        }
    }

    &__pokemon{
        background-image: url("/dist/assets/no-outline-pukeballs.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img{
          position: absolute;
          width: 80%;
          max-height: 100%;
        } 
    }

    &__pokemon-name{
        z-index: 1;
        font-weight: getWeight(bold);
        text-align: center;
    }


    &__pokemon-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 5rem;
        height: 5rem;
    }
}


@include iphoneXr(){

    header{
        margin-top: 4em;
        padding: 1.5em;
    }
    section{
        padding: 0 1.5em;
        margin: 1em 0;
    }
    .grid-container{
        grid-template-columns: 1fr 1fr;

        &__card{

            & img{
                width: 65px;
            }
        }


        &__left{

            & h2{
                font-size: .6rem;
            }


            & small{
                font-size: .5rem;
            }
        }
    }
    .evolution-chain__pokemon-wrapper{
        width: 6rem;
        height: 6rem;
    }
    .evolution-chain__pokemon{
        width: 90%;
    }
}

.hide{
    display: none;
}


.active{
    color: black;
    font-weight: getWeight(bold);
}