@import "./resets";
@import "./variables"; 


body{

    // overflow: hidden;
    & > img{
        z-index: -1;
        position: fixed;
        width: 65%;
        object-fit: cover;
        right: -3rem;
        top: -2rem;
    }
}

.overlay{
    background-color: rgba(13, 13, 13, 0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    display: none;
    & h1{
        color: black;
    }

    &.active{
        display: flex;
    }
}


header{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em;

    & .go-back{
        cursor: pointer;
        transform: rotate(180deg);
        display: inline-block;
        font-size: 2rem;
    }    
}

section{
    margin-top: 5em;
    padding: 1em 2em 3em 2em;
    min-height: 100vh;
    position: relative;
    top: 71px;


    & .load-more{
        text-align: center;
        margin-top: 1.5em;
    }
}

.grid-container{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, 1fr);
    gap: 1em;



   & .grass{
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
   }

   & .fire{
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
   }

   & .water{
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
   }

   & .bug{
        background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
   }


   & .normal{
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
   }


    &__card{
        z-index: 1;
        pointer-events: all;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
        z-index: 1;
        position: relative;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;




        &::before{
            z-index: -1;
            position: absolute;
            content: "";
            width: 45%;
            height: 100%;
            bottom: -3rem;
            right: -1rem;
            background-image: url("/dist/assets/no-outline-pukeballs.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0.6;
        }
    }

    &__left{

        color: white;

        & h2{
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
        }
         
        & small{
       
            text-align: center;
            width: 6em;
            border-radius: 50px;
            display: block;
            background-color: rgba(246, 246, 242, 0.2);
            margin: .5em 0;
        }
    }

    &__texts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__right{
       
        & img{
            width: 100px;
            animation: float 3s ease-in-out infinite;
        }
    }
}



@keyframes float {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-5px);
	}
	100% {
	
		transform: translatey(0px);
	}
}



