@import "./resets";
@import "./variables"; 


body{
    position: relative;
    overflow-x: hidden;
    // background-image: url("/dist/assets/no-outline-pukeballs.svg");
    // background-size: 80%;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: 200% -20%;

    & > img{
        position: fixed;
        width: 65%;
        object-fit: cover;
        right: -3rem;
        top: -2rem;
    }
}

header{
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;

    & .go-back{
        cursor: pointer;
        transform: rotate(180deg);
        display: inline-block;
        font-size: 2rem;
    }    
}


section{
    z-index: 2;
    margin-top: 2em;
    padding: 1em 1em 3em 1em;
    min-height: 100vh;
    position: relative;
    top: 71px;
}

.grid-container{
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(170px, 1fr);
    gap: 1em;


    &__card{
        overflow: hidden;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
        z-index: 1;
        position: relative;
        border-radius: 20px;
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        display: flex;
        align-items: center;
        justify-content: space-around;

        &::before{
            z-index: -1;
            position: absolute;
            content: "";
            width: 45%;
            height: 100%;
            bottom: -3rem;
            right: -1rem;
            background-image: url("/dist/assets/no-outline-pukeballs.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0.3;
        }
    }

    &__left{
        color: white;
        text-align: center;
        & h2{

        }
         
        & small{
            border-radius: 50px;
            display: block;
            background-color: rgba(246, 246, 242, 0.7);
            margin: .5em 0;
        }
    }

    &__right{
        & img{
            width: 150px;
        }
    }
}


